<div data-menu-spacing data-snap-drawers>
    <div data-snap-drawer="left" data-ng-show="show.left">
        <p class="sr-only pull-left">
            <a tabindex="11" id="skip-to-content" href="" data-snap-toggle="left" title="Skip to the main content">Skip
                Navigation</a></p>
        <h4 class="text-center menu-bar" id="appMenu" tabindex="11" role="heading">Menu</h4>

        <ul class="nav nav-pills nav-stacked sidebar-list">
            <li>
                <a tabindex="11" ui-sref="main.home"
                data-snap-toggle="left">
                    Home
                </a>
            </li>
        </ul>
    </div>
</div>